.sprite {
  background-image: url(./images/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  margin-top: 10px;
}

.sprite-blue-comment {
  width: 97px;
  height: 111px;
  background-position: -5px -5px;
}

.sprite-blue-dashboard {
  width: 80px;
  height: 111px;
  background-position: -112px -5px;
}

.sprite-blue-graph {
  width: 84px;
  height: 111px;
  background-position: -202px -5px;
}

.sprite-blue-note {
  width: 92px;
  height: 111px;
  background-position: -5px -126px;
}

.sprite-blue-people {
  width: 89px;
  height: 111px;
  background-position: -107px -126px;
}

.sprite-blue-tag {
  width: 87px;
  height: 111px;
  background-position: -206px -126px;
}

.sprite-green-comment {
  width: 97px;
  height: 111px;
  background-position: -5px -247px;
}

.sprite-green-dashboard {
  width: 80px;
  height: 111px;
  background-position: -112px -247px;
}

.sprite-green-graph {
  width: 84px;
  height: 111px;
  background-position: -202px -247px;
}

.sprite-green-note {
  width: 92px;
  height: 111px;
  background-position: -296px -5px;
}

.sprite-green-people {
  width: 89px;
  height: 111px;
  background-position: -303px -126px;
}

.sprite-green-tag {
  width: 87px;
  height: 111px;
  background-position: -296px -247px;
}
