body {
  margin: 0;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

i {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

form {
  background-color: white;
}

input {
  border: none;
  outline: none;
}

hr {
  margin: 5px;
}

a {
  font-weight: 800;
  color: #2498f4;
}

footer {
  font-size: 0.75rem;
  position: sticky;
}

input {
  margin: auto;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.bg-primary {
  background-color: #2498f4 !important;
}

.text-primary {
  color: #2498f4 !important;
}

.bg-success {
  background-color: #33cc66 !important;
}

.border-dotted {
  border-style: dotted;
  border-width: 1px;
  border-color: #cccccc;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 5px;
}

.border-head {
  border-style: solid;
  border-width: 1px;
  border-color: #1c85d8;
  border-top: none;
  border-bottom: none;
}

.raleigh {
  padding-right: 10px;
  font-size: 0.75rem;
  margin-top: auto;
  margin-bottom: auto;
}

.raleigh:hover {
  color: #cccccc;
}

.header {
  padding: 10px;
  background-image: linear-gradient(#2498f4, #208ce3);
}

.social {
  margin-left: 10vw;
  font-size: 1rem;
}

.help {
  margin-right: 10vw;
}

.fa-cog:hover {
  color: #cccccc;
}

.fa-question-circle:hover {
  color: #cccccc;
}

.navbar {
  padding: 0;
}

.nav {
  padding: 0;
  margin: 0;
  background-image: url(../images/NavBackground.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.nav-bg {
  margin: 0;
}

.dashboard {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
}

.form {
  border-radius: 5px;
}

.fa-search {
  color: #2498f4;
  margin: 0;
  padding-right: 5px;
  padding-top: 5px;
  float: right;
}

.fa-search:hover {
  text-decoration: none;
  color: #cccccc;
}

.fa-search:active {
  text-decoration: none;
  color: #cccccc;
}

.sprite {
  padding-top: 30px;
}

.dash:hover .sprite-blue-dashboard {
  background-position: -112px -247px;
}

.dash:focus .sprite-blue-dashboard {
  background-position: -112px -247px;
}

.dash:hover .marker1 {
  display: block;
}

.dash:focus .marker1 {
  display: block;
}

.people:hover .sprite-blue-people {
  background-position: -303px -126px;
}

.people:focus .sprite-blue-people {
  background-position: -303px -126px;
}

.people:hover .marker2 {
  display: block;
}

.people:focus .marker2 {
  display: block;
}

.comment:hover .sprite-blue-comment {
  background-position: -5px -247px;
}

.comment:focus .sprite-blue-comment {
  background-position: -5px -247px;
}

.comment:hover .marker3 {
  display: block;
}

.comment:focus .marker3 {
  display: block;
}

.tag:hover .sprite-blue-tag {
  background-position: -296px -247px;
}

.tag:focus .sprite-blue-tag {
  background-position: -296px -247px;
}

.tag:hover .marker4 {
  display: block;
}

.tag:focus .marker4 {
  display: block;
}

.note:hover .sprite-blue-note {
  background-position: -296px -5px;
}

.note:focus .sprite-blue-note {
  background-position: -296px -5px;
}

.note:hover .marker5 {
  display: block;
}

.note:focus .marker5 {
  display: block;
}

.gra:hover .sprite-blue-graph {
  background-position: -202px -247px;
}

.gra:focus .sprite-blue-graph {
  background-position: -202px -247px;
}

.gra:hover .marker6 {
  display: block;
}

.gra:focus .marker6 {
  display: block;
}

.marker {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2vh;
  padding-left: 2vw;
  justify-content: center;
}

.marker1 {
  display: none;
}

.marker2 {
  display: none;
}

.marker3 {
  display: none;
}

.marker4 {
  display: none;
}

.marker5 {
  display: none;
}

.marker6 {
  display: none;
}

.no-cursor {
  cursor: none;
}

.move {
  padding: 0;
  margin: 0;
}

.data {
  padding: 15px;
  margin-bottom: 35px;
  border-radius: 10px;
  background-image: linear-gradient(#f6f6f6, white);
}

.inside {
  margin-left: 0;
  margin-right: 0;
}

.announcements {
  font-size: 9pt;
}

.announce-text {
  color: #fe7f13;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mid-text {
  color: #7777777;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;
}

.nav-arrows {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fa-chevron-circle-left {
  color: #fe7f13;
  margin: 0;
}

.fa-chevron-circle-right {
  color: #fe7f13;
  margin: 0;
}

.fa-chevron-circle-left:hover {
  color: #cccccc;
}

.fa-chevron-circle-right:hover {
  color: #cccccc;
}

.t-r {
  padding: 0;
}

.tasks-set {
  margin-bottom: 15px;
}

.tasks {
  margin: 5px;
}

.settings {
  margin: 5px;
}

.settings2 {
  float: right;
}

.number {
  background-color: #32cc66;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  text-align: center;
  color: white;
  margin: 5px;
}

.listing:hover .number {
  background-color: #cccccc;
}

.listing:hover .title {
  color: #cccccc;
}

.listing:hover .num {
  color: #cccccc;
}

.title {
  margin: 0;
  padding-top: 5px;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
  font-size: 1.2rem;
  color: #2394ee;
}

.num {
  color: #2394ee;
  margin: 0;
  padding-left: 10px;
}

.border-num {
  border-style: solid;
  margin: 0;
  padding: 0;
  border-width: 1px;
  box-sizing: border-box;
  width: 5vw;
}

.rec {
  margin-top: 20px;
  margin-bottom: 20px;
}

.rec-head {
  padding-bottom: 10px;
}

.rec-title {
  padding: 5px;
}

.type {
  font-size: 7pt;
}

.icon {
  float: center;
  padding-top: 10px;
}

.recommendation:hover .type {
  color: #cccccc;
}

.recommendation:hover .name {
  color: #cccccc;
}

.an-head {
  margin: 20px;
}

.analytics {
  padding: 0;
}

.activity {
  padding-left: 3vw;
}

/* Dropdown css from W3Schools */
/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: #999999;
  padding: 5px;
  font-size: 10px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  margin-bottom: 5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #cccccc;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #cccccc;
}

.active-date {
  padding-right: 10px;
  padding-top: 3px;
}

.fa-chevron-down {
  color: #fe7f13;
  float: left;
  padding: 5px;
}

.graph1 {
  width: 40vw;
  height: auto;
  margin: 10px;
}

.graph2 {
  width: 12vw;
  height: auto;
  margin-left: 10px;
  padding-left: 10px;
}

.tooltip {
  opacity: 100%;
}

.check-social {
  margin: auto;
}

.input {
  padding: 2vw;
}

.fb {
  color: white;
  background-color: #114570;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 3px;
}

.twi {
  color: white;
  background-color: #2298f4;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 3px;
}

.fs {
  color: white;
  background-color: #3a599b;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 3px;
}

.goog {
  color: white;
  background-color: #31cc66;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 3px;
}

.contacts {
  padding: 5px;
}

.customers {
  padding: 5px;
}

.head {
  text-align: center;
}

.label {
  text-align: center;
  background-image: url(../images/images/images/banner.png);
  background-size: cover;
  height: 8.5vh;
  width: auto;
  padding-top: 5px;
}

.stat {
  font-size: 1.3rem;
}

.influencers {
  text-align: center;
  font-size: 0.75rem;
}

.bottom-div {
  text-align: center;
}

.did-you-know {
  padding: 20px;
}

.dyk {
  padding: 30px 0;
}

.left-arrow {
  float: left;
  padding-top: 2.5vh;
}

.right-arrow {
  float: right;
  padding-top: 2.5vh;
}

.left-arrow:hover {
  padding-left: 5px;
  transition: smooth;
}

.right-arrow:hover {
  padding-right: 5px;
  transition: smooth;
}

.ads {
  margin: 0;
  width: 100%;
  padding: 0;
}

.watch-what {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 15px;
  padding-left: 25px;
}

.ad1 {
  background-image: url(../images/images/watchwhat.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 160px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.see-what {
  padding-top: 15px;
  padding-bottom: 25px;
}

.ad2 {
  background-image: url(../images/images/images/seewhat.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 171px;
  width: auto;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.version {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 25px;
}

.ad3 {
  background-image: url(../images/images/images/version2.0.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 160px;
  width: auto;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.box-shadow {
  box-shadow: 0 -5px 6px #e2e2e2;
}

.tsb {
  float: right;
}

.tutorials {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  color: #999999;
}

.tutorials:hover {
  color: #cccccc;
}

.ariel {
  margin: auto;
  color: #999999;
  padding: 0;
}

.fa-chevron-up {
  margin: 0;
  padding-left: 20px;
}

.profile {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 5px;
  height: 1.5rem;
  width: auto;
}

.logout {
  padding-left: 5px;
}

.fa-facebook-square {
  color: #999999;
}

.fa-facebook-square:hover {
  color: #cccccc;
}

.fa-twitter-square {
  color: #999999;
}

.fa-twitter-square:hover {
  color: #cccccc;
}

.fa-foursquare {
  color: #999999;
}

.fa-foursquare:hover {
  color: #cccccc;
}

.fa-youtube-square {
  color: #999999;
}

.fa-youtube-square:hover {
  color: #cccccc;
}

.column {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0;
    margin: 0;
  }
  .social {
    margin-left: 35vw;
  }

  .help {
    margin-right: 25vw;
  }

  .listing {
    padding-bottom: 2vh;
    text-align: center;
  }

  .num {
    margin: auto;
  }

  .border-num {
    width: 20vw;
    margin: auto;
  }

  .act-drop {
    margin: auto;
    text-align: center;
  }

  .graph1 {
    width: 80vw;
  }

  .graph2 {
    width: 40vw;
  }

  .check-social {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .input {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .facts {
    margin: auto;
    width: 70vw;
  }
}
